name: Terraform Azure AD Batman

on:
  push:
    branches:
      - class  # Only runs when pushing to the class branch

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout learning
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init
       
       
      - name: Terraform Apply
        if: github.ref == 'refs/heads/class'
        run: terraform apply -auto-approve
        env:
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
