name: Terraform Azure AD User - Hardcoded

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:  # Allows manual run

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: 6a35d33f-b6f9-4101-bd91-ef2bfb93822f

      - name: Terraform Plan
        run: terraform plan
        working-directory: 6a35d33f-b6f9-4101-bd91-ef2bfb93822f

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: 6a35d33f-b6f9-4101-bd91-ef2bfb93822f
